<div class="p-5 mb-4 bg-light rounded-3">
    <div class="Container-fruid py-5">
        <h1 class="display-5 fw-bold"> Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, mollitia inventore. Est assumenda deserunt eum? Dolores at, ad magni doloribus porro velit eius nostrum ullam possimus eveniet est quam dicta.</p>
        <button class="btn btn-primary">Buton</button>
    </div>
</div>
