@model List<Bootcamp>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

 
   <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">

            <div class="container"> @* kenar uzunluklarını ayarladığımız kısım genelde container olur. *@
                <a href="#" class="navbar-brand" > Techcareer.net</a>
                <ul class="navbar-nav me-auto" >
                    <li class="nav-item" >
                        <a href="#" class="nav-link"> Home </a>
                         </li>
                    <li class="nav-item" >
                        <a href="#" class="nav-link"> Bootcamp </a>
                         </li>
                </ul>
            </div>
        </nav>
    </header>

    @* hareketli kısmımız genelde main içindedir*@
    <div class="container mt-4">
        <main>

          @foreach(var kurs in Model)
            {
                <div class="card mb-3" id="kurs_@kurs.Id">
                    <div class="row">
                        <div class="col-md-4">
                             <img src="~/img/@kurs.Image"  alt="" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8 mt-4">
                            
                                <h5> @kurs.Title </h5>
                                <p> @kurs.Description </p>
                            
                            
                        </div>
                    </div>


                </div>

            
        
            }       
        </main>
    </div>


</body>
</html>