@model List<Bootcamp>;
        <div class="row">
                @foreach(var kurs in @Model){

                        @if(kurs.IsActive){
                               @await Html.PartialAsync("_List", kurs);
                        }
                        
                }
        </div>