@model List<Bootcamp>
@await Html.PartialAsync("_Header")

<div class="row">

    @foreach(var haber in Model){
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="width: 18rem;">
                <img src="~/img/@haber.Image" alt="">
                <div class="card-body">
                    <div class="card-title">@haber.Name</div>
                    <div class="card-text">@haber.Description</div>
                    <a class="btn btn-primary" asp-controller="Bootcamp" asp-action="Index" asp-route-id="@haber.Id"> Detay </a>
                </div>
            </div>


        </div>
    }

</div>
