@model Ogretmen

<h2>Öğretmen Güncelleme</h2>

<hr>

    <form asp-asp-controller="Ogretmen" asp-action="Edit" method="post">

   <input type="hidden" asp-for="OgretmenId">  @* Edit sayfanının gelmesi için gerekli olan id bilgisini buradan çektik. *@


    <div class="mb-3">
        <label asp-for="OgretmenAd" class="form-label">Öğretmen Ad</label>
        <input asp-for="OgretmenAd" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="OgretmenSoyad" class="form-label">Öğretmen Soyad</label>
        <input asp-for="OgretmenSoyad" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Öğretmen E-posta</label>
        <input asp-for="Eposta" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Öğretmen Telefon</label>
        <input asp-for="Telefon" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="BaslamaTarihi" class="form-label">Öğretmen Başlama Tarihi</label>
        <input asp-for="BaslamaTarihi" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"> Kaydet </button>
    </form>
    </div>
   
        
        



