@* Önce controlleradında bir dosya oluşturulur ve içine action isminde dosyalar yazılır. *@
@model Ogrenci

<form asp-asp-controller="Ogrenci" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label"> Öğrenci Adı </label>
        <input asp-for="OgrenciAd" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label"> Öğrenci Soyadı </label>
        <input asp-for="OgrenciSoyad" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label"> Öğrenci Eposta </label>
        <input asp-for="Eposta" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label"> Öğrenci Telefon </label>
        <input asp-for="Telefon" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"> Kaydet </button>
</form>
