@model Kurs

<h2>Kurs Güncelleme</h2>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-asp-controller="Kurs" asp-action="Edit" method="post">

   <input type="hidden" asp-for="KursId">  @* Edit sayfanının gelmesi için gerekli olan id bilgisini buradan çektik. *@


    <div class="mb-3">
        <label asp-for="KursAdi" class="form-label">Kurs Adı</label>
        <input asp-for="KursAdi" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary"> Kaydet </button>
</form>
    </div>
    <div class="col-4">

        <h2> Kayıtlı öğrenciler </h2> 
        <hr>
        @foreach (var item in @Model.KursKayitlari){
            <li>
                @item.Ogrenci.OgrenciAd
            </li>
        }

    </div>
</div>

